<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="styles/base.css" />
    <link rel="stylesheet" type="text/css" href="styles/albums.css" />
</head>
<body>

    <div th:replace="fragments :: header"></div>

    <div class="album">
        <h2 th:text="${album.title}">Title</h2>
        <img th:src="${album.imageURL}" />
        <h4>by <span th:text="${album.artist}"></span></h4>
        <p><span th:text="${album.songCount}"></span> songs!</p>
        <p><span th:text="${album.length}"></span> minutes of audio!</p>
        <p>Track list:</p>
        <ol th:each="track : ${album.songs}">
            <li th:text="${track.title}">Song</li>
        </ol>
    </div>

    <form th:action="${'/albums/' + album.id}" method="post">
        <input type="hidden" value="delete" name="_method" />
        <input type="submit" name="deleteAlbum" value="Delete" />
    </form>

    <h1>Add a new song to this album:</h1>
    <form th:action="${'/addSong/' + id}" method="post">
        <input name="title" />
        <input type="number" name="length" />
        <input type="number" name="trackNumber" />
        <input type="submit" value="Add" />
    </form>
</body>
</html>