h1 {
    text-align: center;
}

.album {
    max-width: 400px;
    margin: auto;
    background-color: lightgray;
    margin-bottom: 3em;
    padding: 1em;
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    font-family: 'Roboto', sans-serif;
}
    .album img {
        width: 80%;
        margin-left: 10%;
    }
    .album h2,
    .album h4,
    .album p {
        text-align: center;
    }
    .album h2 {
        font-family: 'Bangers', cursive;
    }