

.album {
    max-width: 400px;
    margin: auto;
    background-color: lightgray;
    margin-bottom: 3em;
    box-style: border-box;
    padding: 1em;
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    font-family: 'Roboto', sans-serif;
}
    .album img {
        width: 80%;
        margin-left: 10%;
    }
    .album h2,
    .album h4,
    .album p {
        text-align: center;
    }
    .album h2 {
        font-family: 'Bangers', cursive;
    }

#albumsLink {
    color: orange;
}

#addAlbumButton {
    background-color: orange;
    border: 1px solid gray;
    border-radius: 5px;
    width: 20%;
    margin: 1em 40%;
    height: 3em;
    line-height: 3em;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}

#formBackground {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
    #formBackground form {
        width: 50%;
        margin: 25%;
    }
    .whiteBG {
        background-color: white;
    }