
img {
    width: 60%;
    margin-top: 2em;
    margin-left: 20%;
}
p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1.5em;
}
#homeLink {
    color: orange;
}